In [1]:
3 + 5 * 4

23

In [2]:
weight_kg = 60.3

In [3]:
Weight_kg = 30

In [4]:
molecule = 'ethanol'

In [5]:
molecule_2 = 'water'

In [13]:
print(weight_kg)

65.4

In [7]:
print(Weight_kg)

30

In [8]:
weight_lb = 2.2 * weight_kg

In [9]:
print(molecule, 'weight in kg:', weight_kg)

ethanol weight in kg: 60.3

In [10]:
print(type(molecule))

<class 'str'>

In [11]:
print(type(weight_kg))

<class 'float'>

In [12]:
weight_kg = 65.4

In [14]:
import numpy as np

In [15]:
np.loadtxt(fname='combined-no-headers.csv', delimiter=',')

array([[ 0.00000000e+00,  6.00000000e+00, -9.00000000e-02, ...,
         2.02559852e+01,  2.79454641e+02,  1.00000000e+00],
       [ 1.00000000e+00,  2.33333333e+00, -9.00000000e-02, ...,
         2.02559852e+01,  2.79454641e+02,  1.00000000e+00],
       [ 2.00000000e+00,  7.90000000e+01, -1.40000000e-01, ...,
         7.60741678e+01,  2.23068184e+02,  5.00000000e-01],
       ...,
       [ 3.40000000e+02,  2.00000000e+00,  3.60000000e-01, ...,
         8.45799261e+01,  3.94431707e+02,  5.00000000e-01],
       [ 3.41000000e+02,  1.50000000e+01,  3.60000000e-01, ...,
         8.45799261e+01,  2.82386669e+02,  5.00000000e-01],
       [ 3.42000000e+02,  3.00000000e-01,  0.00000000e+00, ...,
         8.45799261e+01,  2.43000629e+02,  5.00000000e-01]])

In [16]:
data = np.loadtxt(fname='combined-no-headers.csv', delimiter=',')

In [17]:
print(type(data))

<class 'numpy.ndarray'>

In [18]:
print(data)

[[ 0.00000000e+00  6.00000000e+00 -9.00000000e-02 ...  2.02559852e+01
   2.79454641e+02  1.00000000e+00]
 [ 1.00000000e+00  2.33333333e+00 -9.00000000e-02 ...  2.02559852e+01
   2.79454641e+02  1.00000000e+00]
 [ 2.00000000e+00  7.90000000e+01 -1.40000000e-01 ...  7.60741678e+01
   2.23068184e+02  5.00000000e-01]
 ...
 [ 3.40000000e+02  2.00000000e+00  3.60000000e-01 ...  8.45799261e+01
   3.94431707e+02  5.00000000e-01]
 [ 3.41000000e+02  1.50000000e+01  3.60000000e-01 ...  8.45799261e+01
   2.82386669e+02  5.00000000e-01]
 [ 3.42000000e+02  3.00000000e-01  0.00000000e+00 ...  8.45799261e+01
   2.43000629e+02  5.00000000e-01]]

In [19]:
print(data.dtype)

float64

In [20]:
print(data.shape)

(343, 23)

In [21]:
print('first value in data:', data[0,0])

first value in data: 0.0

In [22]:
print(data[172, 11])

94.18429025

In [25]:
print(data[0,22])

1.0

In [27]:
print(data[0:2, 0:3])

[[ 0.          6.         -0.09      ]
 [ 1.          2.33333333 -0.09      ]]

In [30]:
small = data[:2, 18:]

In [31]:
print(small)

[[  0.           0.          20.25598522 279.4546413    1.        ]
 [  0.           0.          20.25598522 279.4546413    1.        ]]

In [32]:
data = np.delete(data, 0, 1)

In [33]:
print(data)

[[ 6.00000000e+00 -9.00000000e-02  0.00000000e+00 ...  2.02559852e+01
   2.79454641e+02  1.00000000e+00]
 [ 2.33333333e+00 -9.00000000e-02  0.00000000e+00 ...  2.02559852e+01
   2.79454641e+02  1.00000000e+00]
 [ 7.90000000e+01 -1.40000000e-01  0.00000000e+00 ...  7.60741678e+01
   2.23068184e+02  5.00000000e-01]
 ...
 [ 2.00000000e+00  3.60000000e-01  0.00000000e+00 ...  8.45799261e+01
   3.94431707e+02  5.00000000e-01]
 [ 1.50000000e+01  3.60000000e-01  0.00000000e+00 ...  8.45799261e+01
   2.82386669e+02  5.00000000e-01]
 [ 3.00000000e-01  0.00000000e+00  0.00000000e+00 ...  8.45799261e+01
   2.43000629e+02  5.00000000e-01]]

In [34]:
print(np.mean(data))

53.72029602831553

In [35]:
import time
print(time.ctime())

Wed Sep 29 10:57:50 2021

In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('Acyclic.csv')

In [40]:
print(df)

     Unnamed: 0   %top   ER1   ER2  ER3   ER4  ER5  ER6   ER7  EZ  ...  \
0             0   2.25 -0.09  0.00  0.0 -0.09  0.0  0.0  0.00   1  ...
1             1   2.50 -0.09  0.00  0.0 -0.09  0.0  0.0  0.00   1  ...
2             2   5.00 -0.09  0.00  0.0 -0.09  0.0  0.0  0.00   1  ...
3             3   5.00 -0.09  0.00  0.0 -0.09  0.0  0.0  0.00   1  ...
4             4   3.50 -0.01 -0.17  0.0 -0.01  0.0  0.0 -0.17   1  ...
..          ...    ...   ...   ...  ...   ...  ...  ...   ...  ..  ...
174         174   2.50  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...
175         175   3.25  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...
176         176   5.00  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...
177         177   2.00  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...
178         178  15.00  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...

                                       boron reagent  equivs boron reagent  \
0                                   OB(C1=CC=CC=C1)O                   2.0
1                                   OB(C1=CC=CC=C1)O                   2.0
2                                   OB(C1=CC=CC=C1)O                   3.0
3    C1(B2OB(C3=CC=CC=C3)OB(C4=CC=CC=C4)O2)=CC=CC=C1                   2.0
4                                   OB(C1=CC=CC=C1)O                   2.0
..                                               ...                   ...
174                                 OB(C1=CC=CC=C1)O                   2.4
175                              CC1=CC(B(O)O)=CC=C1                   2.4
176                                 OB(C1=CC=CC=C1)O                   2.0
177                                 OB(C1=CC=CC=C1)O                   2.4
178                                 OB(C1=CC=CC=C1)O                   2.4

     ligand  mol% Rh  mol% ligand      solvent  \
0      L3.1      1.5          3.0  dioxane/H2O
1      L3.1      1.5          3.3  dioxane/H2O
2      L3.1      2.5          5.5  dioxane/H2O
3      L3.1      1.5          3.0  dioxane/H2O
4     L3.10      1.5          3.6      dioxane
..      ...      ...          ...          ...
174   L3.86      2.5          6.0  dioxane/H2O
175   L3.86      2.5          6.0  dioxane/H2O
176   L3.86      2.5          6.0  dioxane/H2O
177   L3.86      2.5          6.0  dioxane/H2O
178   L3.87      2.5          6.0  dioxane/H2O

                                       substrate  temp  time  yield
0                               CC(/C=C/C(C)C)=O    30   3.0   81.0
1                               CC(/C=C/CCCCC)=O    30   1.0   84.0
2              O=C(/C=C/C(OC(C)(C)C)=O)OC(C)(C)C    50   3.0   78.0
3                            O=C(/C=C/CCC)OC(C)C    50   1.0   73.0
4                               CC(/C=C/C(C)C)=O    25   1.0   91.0
..                                           ...   ...   ...    ...
174                 CCCC/C=C/C1=NC2=CC=CC=C2C=C1    80   0.5   56.0
175                 CCCC/C=C/C1=NC2=CC=CC=C2C=C1    80   0.5   71.0
176      C12=CC=CC=C1N=CC(/C=C/CCC3=CC=CC=C3)=N2    80   0.5   80.0
177  O=[N+](C1=CC=C(/C=C/CCC2=CC=CC=C2)C=C1)[O-]    80   0.5   35.0
178  O=[N+](C1=CC=C(/C=C/CCC2=CC=CC=C2)C=C1)[O-]   120   0.5   76.0

[179 rows x 40 columns]

In [45]:
df = df.filter(['%top', 'temp', 'time', 'yield'])

In [46]:
print(df)

      %top  temp  time  yield
0     2.25    30   3.0   81.0
1     2.50    30   1.0   84.0
2     5.00    50   3.0   78.0
3     5.00    50   1.0   73.0
4     3.50    25   1.0   91.0
..     ...   ...   ...    ...
174   2.50    80   0.5   56.0
175   3.25    80   0.5   71.0
176   5.00    80   0.5   80.0
177   2.00    80   0.5   35.0
178  15.00   120   0.5   76.0

[179 rows x 4 columns]

In [49]:
df2 = df.to_numpy()

In [50]:
print(np.mean(df2))

41.736685288641056