# Python Tutorial
This notebook has been desgined to give a brief introduction into coding in python. We will use examples covered in the RhCASA notebook to explain the fundamental concetps required to start editing the notebook for your own purposes and starting new projects from scratch

## Variables and Data Types
In python, a variable can be defined by choosing a name and setting it equal to something.

In [1]:
new_variable = 5
num = 62.3
word = 'hello'
bool = True

new_varibale, num and word are all variables that have been defined. There are 4 common data types used in python that we will discuss (there are more complex ones that we will not worry about for now):

Integers, Floats, Strings and Booleans.

new_variable is an integer, num is a float, word is a string (text) and bool is a Boolean (True or False).

We can use Python to do some basic maths. To view the output, we use the function print(), with the content we would like to print inside the brackets.

In [2]:
print(3+4)
print(8/2)
print(2*3)
print(4**2) # 4 to the power of 2
print(new_variable + num)
print(new_variable * num)

7
4.0
6
16
67.3
311.5

However, Python does not have the ability to do more complex maths on its own. To do this, we either must write our own functions that can perform this maths, or we can 'borrow' functions written by others. To do this we can import a library of fuctions using an import statement.

Once we have math imported, we have a host of new functions available to us. To use these functions, we must state where we are getting them from and the name of the function we want to use.

In [3]:
import math
new_number = math.sqrt(16) # the square root function is obtained from the math library
print(new_number)
print(math.floor(67.2)) # the floor function gives the largest integeter less than or equal to the number given
print(math.factorial(4)) # 4*3*2*1

4.0
67
24

## Lists
If we want to store multiples pieces of information within one variable name we can create a list. This list can contain any of the data types discussed above, or combinations of them.

In [4]:
new_list = [1, 4, 7, 'yes', 5.6]
print(new_list)

[1, 4, 7, 'yes', 5.6]

We can access any piece of data from the list by using square brackets. The first position is position 0, followed by 1, 2, 3...

In [5]:
print(new_list[0])
print(new_list[2])
print(new_list[0]+new_list[4])
print(math.sqrt(new_list[1]))

1
7
6.6
2.0

## Pandas
Pandas is another library (like math) that contains functions specific for data analysis. It allows us to open data files and perform actions on the data. It is very common among professional programmers to give pandas the nickname 'pd' when it is imported.

In [6]:
import pandas as pd

We have 4 datasets files for the RhCASA notebook: 'Acyclic', 'Cyclic' 'Cyclohexenone' and 'Combined'. These are all csv files so we can open these using the function read_csv. Pandas will convert these csv files into what it calls a Data Frame. This is essentially a table of data that can be edited.

In [7]:
# df = dataframe
df = pd.read_csv('Acyclic.csv')
print(df)

     Unnamed: 0   %top   ER1   ER2  ER3   ER4  ER5  ER6   ER7  EZ  ...  \
0             0   2.25 -0.09  0.00  0.0 -0.09  0.0  0.0  0.00   1  ...
1             1   2.50 -0.09  0.00  0.0 -0.09  0.0  0.0  0.00   1  ...
2             2   5.00 -0.09  0.00  0.0 -0.09  0.0  0.0  0.00   1  ...
3             3   5.00 -0.09  0.00  0.0 -0.09  0.0  0.0  0.00   1  ...
4             4   3.50 -0.01 -0.17  0.0 -0.01  0.0  0.0 -0.17   1  ...
..          ...    ...   ...   ...  ...   ...  ...  ...   ...  ..  ...
174         174   2.50  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...
175         175   3.25  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...
176         176   5.00  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...
177         177   2.00  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...
178         178  15.00  0.36  0.00  0.0 -0.17  0.0  0.0 -0.15   1  ...

                                       boron reagent  equivs boron reagent  \
0                                   OB(C1=CC=CC=C1)O                   2.0
1                                   OB(C1=CC=CC=C1)O                   2.0
2                                   OB(C1=CC=CC=C1)O                   3.0
3    C1(B2OB(C3=CC=CC=C3)OB(C4=CC=CC=C4)O2)=CC=CC=C1                   2.0
4                                   OB(C1=CC=CC=C1)O                   2.0
..                                               ...                   ...
174                                 OB(C1=CC=CC=C1)O                   2.4
175                              CC1=CC(B(O)O)=CC=C1                   2.4
176                                 OB(C1=CC=CC=C1)O                   2.0
177                                 OB(C1=CC=CC=C1)O                   2.4
178                                 OB(C1=CC=CC=C1)O                   2.4

     ligand  mol% Rh  mol% ligand      solvent  \
0      L3.1      1.5          3.0  dioxane/H2O
1      L3.1      1.5          3.3  dioxane/H2O
2      L3.1      2.5          5.5  dioxane/H2O
3      L3.1      1.5          3.0  dioxane/H2O
4     L3.10      1.5          3.6      dioxane
..      ...      ...          ...          ...
174   L3.86      2.5          6.0  dioxane/H2O
175   L3.86      2.5          6.0  dioxane/H2O
176   L3.86      2.5          6.0  dioxane/H2O
177   L3.86      2.5          6.0  dioxane/H2O
178   L3.87      2.5          6.0  dioxane/H2O

                                       substrate  temp  time  yield
0                               CC(/C=C/C(C)C)=O    30   3.0   81.0
1                               CC(/C=C/CCCCC)=O    30   1.0   84.0
2              O=C(/C=C/C(OC(C)(C)C)=O)OC(C)(C)C    50   3.0   78.0
3                            O=C(/C=C/CCC)OC(C)C    50   1.0   73.0
4                               CC(/C=C/C(C)C)=O    25   1.0   91.0
..                                           ...   ...   ...    ...
174                 CCCC/C=C/C1=NC2=CC=CC=C2C=C1    80   0.5   56.0
175                 CCCC/C=C/C1=NC2=CC=CC=C2C=C1    80   0.5   71.0
176      C12=CC=CC=C1N=CC(/C=C/CCC3=CC=CC=C3)=N2    80   0.5   80.0
177  O=[N+](C1=CC=C(/C=C/CCC2=CC=CC=C2)C=C1)[O-]    80   0.5   35.0
178  O=[N+](C1=CC=C(/C=C/CCC2=CC=CC=C2)C=C1)[O-]   120   0.5   76.0

[179 rows x 40 columns]

Our dataframe has 179 rows and 40 columns. This too large for an example to learn from, but real dataframes can be of any size or shape. For this example, lets cut it down to just a few columns that we can work with more easily, using the filter function (filter the columns so that only those listed are kept).

In [8]:
df = df.filter(['solvent', '%top', 'temp', 'time', 'yield'])
print(df)
print(df['solvent']) # print just the solvent column

         solvent   %top  temp  time  yield
0    dioxane/H2O   2.25    30   3.0   81.0
1    dioxane/H2O   2.50    30   1.0   84.0
2    dioxane/H2O   5.00    50   3.0   78.0
3    dioxane/H2O   5.00    50   1.0   73.0
4        dioxane   3.50    25   1.0   91.0
..           ...    ...   ...   ...    ...
174  dioxane/H2O   2.50    80   0.5   56.0
175  dioxane/H2O   3.25    80   0.5   71.0
176  dioxane/H2O   5.00    80   0.5   80.0
177  dioxane/H2O   2.00    80   0.5   35.0
178  dioxane/H2O  15.00   120   0.5   76.0

[179 rows x 5 columns]
0      dioxane/H2O
1      dioxane/H2O
2      dioxane/H2O
3      dioxane/H2O
4          dioxane
          ...
174    dioxane/H2O
175    dioxane/H2O
176    dioxane/H2O
177    dioxane/H2O
178    dioxane/H2O
Name: solvent, Length: 179, dtype: object

## Defining our own functions
If we would like to perform a task in python that doesn't already have an existing function, we can write our own. In this example we will write a funciton that will calculate the mean of a series of given numbers (functions to do this already exist, ths is just an example).

In [9]:
def mean_calc(number_list):
    total = 0 # we must define a variable that we can use to add each of the numbers in the list together
    for number in number_list: # this will iterate through every number in the list
        total = total + number # add the new number to the existing total
    
    mean = total/len(number_list) # divide the sum of all the numbers by the number of numbers (lenght of the list)
    return mean

print(mean_calc([1,4,6,5,8,10,3,13.4]))

6.3